/*
============
Login Styles
============
*/

.form-wrapper {
    position: relative;
	width: 100%;
	height: 100%;
	font-size: 18px;
    color: white;
	background: black;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.form-container {
    display: flex;
    align-items: center;
	flex-direction: column;
	font-family: sofia-pro, sans-serif;
	text-align: center;
}

.form {
    color:var(--text-color);
    width: 14rem;
}

.field {
    width: 100%;
    margin: 0 auto;
    position: relative;
    border-bottom: 2px dashed var(--text-color);
    margin: 4rem auto 1rem;
    transition: 500ms;
}

.login-title {
    font-family: gothic-open-shaded, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 4rem;
}

.login-input {
    outline: none;
    border: none;
    overflow: hidden;
    margin: 0;
    width: 100%;
    padding: 0.25rem 0;
    background: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    transition: border 500ms;
}
.login-input:valid {
    color: yellowgreen;
}
.login-input:invalid {
    color: orangered;
}

/* Border animation */
.field::after {
    content: "";
    position: relative;
    display: block;
    height: 4px;
    width: 100%;
    background: #d16dff;
    transform: scaleX(0);
    transform-origin: 0%;
    opacity: 0;
    transition: all 500ms ease;
    top: 2px;
}
.field:focus-within {
    border-color: transparent;
}
.field:focus-within::after {
    transform: scaleX(1);
    opacity: 1;
}


.label {
    display: block;
    color:var(--text-color);
    font-size: 1.2rem;
    /* z-index: -1; */
    position: absolute;
    transform: translateY(-2rem);
    transform-origin: 0%;
    transition: transform 400ms;
}
.field:focus-within .label,
.login-input:not(:placeholder-shown) + .label {
    transform: scale(0.8) translateY(-5rem);
    opacity: 1;
}

/* Strength Meter */
.strength {
    display: flex;
    height: 20px;
    width: 100%;
}
.bar {
    margin-right: 5px;
    height: 100%;
    width: 25%;
    transition: box-shadow 500ms;
    box-shadow: inset 0px 2px #1f1f1f;
}
.bar-show {
    box-shadow: none;
}
.bar-1 {
    background: linear-gradient(red, orangered);
}
.bar-2 {
    background: linear-gradient(to right, orangered, yellow);
}
.bar-3 {
    background: linear-gradient(to right, yellow, yellowgreen);
}
.bar-4 {
    background: linear-gradient(to right, yellowgreen, green);
}
.bar:last-child {
    margin-right: 0;
}
.strength-text {
    margin-top: 20px;
}
.bar-list {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    font-size: 0.7rem;
    text-align: left;
}
/* Buttons */
.sign-in-btn {
    margin-top: 2rem;
    padding: 10px 30px;
    font-weight: bold;
    border: 2px solid greenyellow;
    color: greenyellow;
    border-radius: 100px;
    background: transparent;
    transition: all 1000ms;
}
.sign-in-btn:disabled {
    border-color: var(--text-color);
    color: var(--text-color);
}
.toggle-password {
    position: absolute;
    cursor: help;
    font-size: 0.8rem;
    right: 0.25rem;
    bottom: 0.5rem;
}